name: Laravel Deployment 

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1

      - name: Install Composer Dependencies
        run: composer install --no-interaction --no-scripts --prefer-dist

    #   - name: Load Environment Variables
    #     run: echo "source .env" >> $GITHUB_ENV

      - name: Set up Environment Variables
        run: |
          echo "MY_VARIABLE=$(cat .env)" >> $GITHUB_ENV
          echo "DB_CONNECTION=mysql" >> $GITHUB_ENV
          echo "DB_HOST=db-demo.c13sf506esdd.us-east-1.rds.amazonaws.com" >> $GITHUB_ENV
          echo "DB_PORT=3306" >> $GITHUB_ENV
          echo "DB_DATABASE=laravel_db" >> $GITHUB_ENV
          echo "DB_USERNAME=ubuntu" >> $GITHUB_ENV
          echo "DB_PASSWORD=adminpass" >> $GITHUB_ENV

      - name: Laravel Rsync Deploy
        uses: SHSharkar/Laravel-Rsync-Deploy@master
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: "--ignore-times --compress --verbose --exclude=.git --exclude=.github --exclude=node_modules --no-perms --no-owner --no-group --recursive"
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_HOST_PORT: ${{ secrets.REMOTE_HOST_PORT }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET_DIRECTORY: ${{ secrets.TARGET_DIRECTORY }}

      - name: Slack Notification
        uses: ./.github/workflows/slack.yml