name: Slack Notification

on:
  workflow_run:
    workflows: ["Laravel Deployment"]
    types:
      - completed

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Check Job Outcome
        id: check_job
        run: |
          if [[ ${{ job.status }} == 'success' ]]; then
            echo "::set-output name=jobStatus::successful"
          else
            echo "::set-output name=jobStatus::unsuccessful"
          fi

      - name: Send Slack Notification
        uses: 8398a7/action-slack@v3
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          args: |
            --channel '#assignment'
            --status "${{ steps.check_job.outputs.jobStatus }}"
            --text "The deployment was ${{ steps.check_job.outputs.jobStatus }}."
