name: Slack Notification

on:
  workflow_run:
    workflows: ["Laravel Deployment"]
    types:
      - completed

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Check Job Outcome
        id: check_job
        run: |
          if [[ ${{ job.status }} == 'success' ]]; then
            echo "::set-output name=jobStatus::failure"
          else
            echo "::set-output name=jobStatus::success"
          fi

      
      - uses: 8398a7/action-slack@v3
        with:
            status: ${{ job.status }}
            fields: repo,message,commit,author,action,eventName,ref,workflow,job,took,pullRequest # selectable (default: repo,message)
            channel: '#assignment'
            author_name: '8398a7@action-slack'
            github_token: ${{ secrets.GITHUB_TOKEN }}
        env:
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: always() # Pick up events even if the job fails or is canceled.





    #   - name: Send Slack Notification
    #     uses: 8398a7/action-slack@v3
    #     env:
    #       SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    #     with:
    #       status: ${{ job.status }}
    #       fields: repo,message,commit,author,action,eventName,ref,workflow,job,took,pullRequest # selectable (default: repo,message)
    #     #   status: ${{ steps.check_job.outputs.jobStatus }}
    #     #   text: "The deployment was ${{ steps.check_job.outputs.jobStatus }}."
    #       channel: '#assignment'
    #       author_name: '8398a7@action-slack'
    #       github_token: ${{ secrets.GITHUB_TOKEN }}

       
        # uses: 8398a7/action-slack@v3
        # with:
        #     status: ${{ job.status }}
        #     fields: repo,message,commit,author,action,eventName,ref,workflow,job,took,pullRequest # selectable (default: repo,message)
        #     env:
        #     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        #     if: always() # Pick up events even if the job fails or is canceled.
